{{!--
Re-usable card for linking to posts
--}}

<div class="col-sm-6">
  <article class="card">
    {{#if feature_image}}
      <img srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 600w,
                {{img_url feature_image size="l"}} 1000w,
                {{img_url feature_image size="xl"}} 2000w"
        sizes="(max-width: 1000px) 400px, 700px"
        src="{{img_url feature_image size="m"}}"
        alt="{{title}}"
      />
    {{/if}}

    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <div class="clearfix mb-2">
        <small class="float-left"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></small>
        <small class="float-right"><span>{{reading_time}}</span></small>
      </div>

      <p class="card-text">
        {{excerpt}}
        </br>
      </p>
      <a class="stretched-link" href="{{url}}"></a>
    </div>
  </article>
</div>